:host {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .month {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 1px;
        &:last-child { margin-right: 0; }

        .title {
            position: relative;
            width: 24px;
            height: 18px;
            font-size: 12px;
            color: #afafaf;
        }

        .counter {
            position: relative;
            width: 24px;
            height: 24px;

            .count,
            .month-name {
                position: absolute;
                display: flex;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 13px;
            }

            .month-name {
                z-index: 0;
                background-color: #dfdfdf;
                color: #696969;
            }

            .count {
                z-index: 10;
                background-color: #2b3b46;
                color: #ffffff;
            }
        }
    }

}