:host {
    position: relative;
    display: block;
    padding: 0 25px 25px;

    .table-container {
        margin-top: 0;
    }

    .table-title-block {
        height: 65px;
    }

    .table-title-block.with-bottom-line {
        padding-bottom: 10px;
    }

    .location-code { margin: 0 10px 0 5px; }

    .container:not(.first) {
        padding-top: 0;
    }

    .field-title {
        padding: 0 12px;
    }

    .tasks-per-month-title {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            width: 13px;
            height: 13px;
            margin-left: 4px;
            line-height: 13px;
            text-align: center;
            color: white;
            font-size: 10px;
            font-weight: 400;
            background-color: #2b3b46;
        }
        div.completed {
            background-color: #309a53;
            margin-right: 4px;
        }
    }

    .col-data {
        & > div { width: 100%; }
        a {
            color: var(--module-primary);
            font-weight: 500;
            cursor: pointer;
            text-transform: uppercase;
        }
    }

    iron-icon:not([data-type]) {
        color: #de422e;
        width: 16px;
        height: 15px;
    }

    iron-icon.link-icon {
        color: var(--module-primary);
        margin-right: 6px;
        width: 16px;
        height: 15px;
        cursor: pointer;
    }

    .copy-warning {
        position: relative;
        margin-bottom: 10px;
        padding: 20px 24px;
        background-color: #ededee;
        color: #212121;
        font-size: 15px;
    }

    etools-dialog .container.selected-partners-tasks {
        padding: 14px 28px ;
        background-color: #ededee;
    }

    .planned-tasks-text {
        margin-bottom: 14px;
    }
    .container.block {
        display: flex;
        flex-direction: row;
        padding-right: 24px;
    }
    .container.block[is-edit-dialog] {
        flex-direction: column;

        .field-title { padding: 24px 12px 12px; }
        .location-and-counter { padding-left: 12px; }
    }
    .edited-info {
        position: relative;
        padding: 14px 28px 21px;
        background-color: #ededee;

        & > .title { padding-bottom: 14px; }
        .line { margin-bottom: 7px; }
        .line .title {
            color: #7c7c7c;
            width: 97px;
        }
        .line .value { text-transform: uppercase; }
    }
    .fixed-controls {
        height: 100%;

        .divider {
            height: 45px;
            border-left: 1px solid var(--gray-lighter);
        }

        paper-button { color: var(--module-primary); }
        paper-listbox { white-space: nowrap; }
    }

    .year-dropdown {
        flex: none;
        min-width: auto;
        width: 105px;
    }


    .month-counter {
        margin: 10px 0;
    }
    .month-counter:nth-of-type(2) {
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .month-counter .total-count {
        padding: 0 8px;
        margin: 0 5px;
        line-height: 24px;
        height: 24px;
        box-shadow: var(--gray-50) 0 0 0 1px;
    }

    .year-info {
        color: #727272;

        .text {
            line-height: 24px;
            padding-top: 19px;
            font-weight: 500;
            text-transform: uppercase;
            flex-wrap: wrap;
            letter-spacing: 0.03em;
        }

        span.amount {
            color: #FFF;
            background-color: #727272;
            padding: 0 8px;
            margin: 0 5px;
        }

        .month-counter {
            margin: 0;
        }

        .month-counter .total-count {
            margin-right: 14px;
        }
    }
}

paper-card {
    padding: 8px 0;
    display: block;
    margin-top: 25px;
    --paper-card_-_background-color: white;
    --paper-card_-_margin: 0 24px;
}

@media print {
    paper-button {
        display: none;
    }

    .year-info {
        align-items: center;

        .text {
            font-size: 12px;
            flex-wrap: nowrap;
        }
    }
}
