:host {
    position: relative;
    display: block;
    padding: 0 25px 25px;

    .location-code { margin: 0 10px 0 5px; }

    .container:not(.first) {
        padding-top: 0;
    }

    .field-title {
        padding: 0 12px;
    }

    .col-data a {
        color: var(--module-primary);
        font-weight: 500;
        cursor: pointer;
        text-transform: uppercase;
    }

    iron-icon:not([data-type]) {
        color: #de422e;
        width: 16px;
        height: 15px;
    }

    .copy-warning {
        position: relative;
        margin-bottom: 10px;
        padding: 20px 24px;
        background-color: #ededee;
        color: #212121;
        font-size: 15px;
    }

    etools-dialog .container.selected-partners-tasks {
        padding: 14px 28px ;
        background-color: #ededee;
    }

    .planned-tasks-text {
        margin-bottom: 14px;
    }
    .container.block {
        display: flex;
        flex-direction: row;
        padding-right: 24px;
    }
    .container.block[is-edit-dialog] {
        flex-direction: column;

        .field-title { padding: 24px 12px 12px; }
        .location-and-counter { padding-left: 12px; }
    }
    .edited-info {
        position: relative;
        padding: 14px 28px 21px;
        background-color: #ededee;

        & > .title { padding-bottom: 14px; }
        .line { margin-bottom: 7px; }
        .line .title {
            color: #7c7c7c;
            width: 97px;
        }
        .line .value { text-transform: uppercase; }
    }

    etools-dropdown-multi { max-width: 400px; }
}

paper-card {
    padding: 8px 0;
    display: block;
    margin-top: 25px;
    --paper-card_-_background-color: white;
    --paper-card_-_margin: 0 24px;
}