:host {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .month {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 1px;
        &:last-child { margin-right: 0; }

        paper-input {
            width: 24px;
            padding: 0;
            margin-right: 8px;
        }
        .title {
            position: relative;
            width: 24px;
            height: 18px;
            font-size: 12px;
            color: #afafaf;
        }

        .counter {
            position: relative;
            width: 24px;
            height: 24px;

        }
    }

}

:host([readonly]) {
    paper-input {
        --paper-input-container-underline: #{'{
                    display: none;
                }'};
        --paper-input-container-underline-focus: #{'{
                    display: none;
                }'};
        --paper-input-container-focus-color: var(--secondary-text-color);
    }
}