:host {
    position: relative;
    display: block;

    iron-icon {
        color: #6a6a6a;
        cursor: pointer;
    }

    .title-text {
        color: var(--gray-mid);
        font-size: 13px;
    }

    .details-container {
        position: relative;
        padding: 10px 25px;

        .cp-indicators {
            position: relative;
            margin-bottom: 25px;
            .line {
                padding: 5px 15px;
                &.title, &.empty {
                    padding: 8px 15px 2px 0;
                }
                &.gray { background-color: var(--gray-lighter); }

                .target {
                    width: 100px;
                    text-align: right
                }
            }
        }

        .partners-data {
            padding-right: 25px;
            .prog-visits { text-align: right; }
            div {
                position: relative;}
        }

        .partner {
            line-height: 25px;
            .partners-data {
                border-right: solid 1px #dcdbdc;
                border-bottom: solid 1px #dcdbdc;
                overflow: hidden;
            }
            .intervention-data {
                border-bottom: solid 1px #dcdbdc;
                overflow: hidden;
                .links {
                    justify-content: space-evenly;
                }
            }
            .intervention-details {
                padding: 9px 9px 9px 45px;
                background-color: #ecebeb;

                .results-text { white-space: pre-line; }
            }
        }
    }

    .truncate {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
