:host {
    paper-button.add-btn {
        background-color: var(--module-primary);
        color: white;
        height: 36px;
        font-weight: 500;
        padding-left: 10px;
        padding-right: 15px;
    }
}
