:host {
    .year-select-and-info {
        position: relative;
        display: flex;
        padding: 15px 25px 0 45px;

        etools-dropdown {
            flex: none;
            width: 105px;
        }
    }
}
