:host {
    position: relative;

    .details-tab {
        width: 100%;
        padding: 24px;
        box-sizing: border-box;

        .row { margin-top: 30px; }
        .details {
            padding-right: 22px;
        }

        paper-card {
            width: 100%;
            margin-bottom: 22px;

            &.status-card { width: 200px; }
        }

        .widget-container {
            position: relative;
            border: solid 1px var(--gray-06);
            margin: 0 12px;
        }

        .details-form {
            padding: 15px 12px;

        }

        .radio-group {
            padding-right: 45px;
            font-size: 17px;
            span { margin: 0 17px; }
        }
    }

    .action-button {
        position: relative;
        padding: 21px;
        border-top: solid 1px var(--gray-light);
    }
}

*[hidden] {
    display: none !important;
}

paper-radio-button {
    --calculated-paper-radio-button-size: 20px;
}
