:host {
  position: relative;
  display: block;
  padding: 0 25px 25px;

  .container:not(:first-of-type) {
    padding-top: 0;
  }
}

.text-control {
  padding: 14px;

  label {
    color: var(--gray-mid);
    font-size: var(--paper-font-caption_-_font-size);
    font-weight: var(--paper-font-caption_-_font-weight);
  }

  .value {
    height: 1rem;
    padding-bottom: 3px;
  }
}

.text-control:not(:first-of-type) {
  padding: 0 14px 14px 14px;
}

.rational-view {
  padding: 14px 10px 0;
}

paper-card {
  padding: 8px 0;
  display: block;
  margin-top: 25px;
  --paper-card_-_background-color: white;
  --paper-card_-_margin: 0 24px;
}
