:host {
  position: relative;
  display: block;
  padding: 0 25px 25px;

  .filter-dropdown {
    margin-left: 20px;
    width: 240px;

    --esmm-list-wrapper: {
      margin-top: 0;
      padding-top: 12px;
      -ms-overflow-style: auto;
    }
  }

  .editable-row {
    position: relative;

    .hover-block {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      line-height: 48px;
    }
  }

  .editable-row:hover {
    .hover-block {
      display: block;
      cursor: pointer;
    }
  }

}

.toggle-button {
  @apply --layout-horizontal;
  @apply --layout-center;
  margin: 0 16px;
  align-self: center;
  padding: 18px 0 18px 10px;
}
.toggle-button span {
  padding: 0 12px;
  font-size: 16px;
}

paper-card {
  padding: 8px 0;
  display: block;
  margin-top: 25px;
  --paper-card_-_background-color: white;
  --paper-card_-_margin: 0 24px;
  //--paper-card_-_width: calc(100% - 48px);
}
