:host {
    position: relative;
    display: block;
    padding: 0 25px 25px;

    .filter-dropdown {
        margin-left: 20px;
        width: 240px;

        --esmm-list-wrapper: {
            margin-top: 0;
            padding-top: 12px;
            -ms-overflow-style: auto;
        }
    }

}

.toggle-button {
    @apply --layout-horizontal;
    @apply --layout-center;
    margin: 0 16px;
    align-self: center;
    padding: 18px 0 18px 10px;
}

.toggle-button span {
    padding: 0 12px;
    font-size: 16px;
}

paper-card {
    padding: 8px 0;
    display: block;
    margin-top: 25px;
    --paper-card_-_background-color: white;
    --paper-card_-_margin: 0 24px;
    //--paper-card_-_width: calc(100% - 48px);
}
