:host {
  position: relative;
  display: block;

  .file-link iron-icon {
    color: var(--dark-icon-color);
  }

  .file-link a {
    padding-left: 5px;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
  }
}

paper-card {
  padding: 8px 0;
  display: block;
  margin-top: 25px;
  --paper-card_-_background-color: white;
  --paper-card_-_margin: 0 24px;
}
