:host {
    position: relative;
    display: block;
    padding: 0 25px 25px;

    .config-info-title {
        border-left: #eee 2px solid;
        padding-left: 15px;
    }

    .config-recommended-title,
    .config-recommended-content {
      font-size: 12px;
    }

    .config-recommended-title {
        color: var(--secondary-text-color);
        font-weight: 500;
    }

    .required-item {
        height: 7px;
        width: 7px;
        margin-top: -.5em;
        color: red;
    }

    .selected-methods-column {

    }

    .method-column {
        margin: 0 7px;
    }
    .method-check-column {
        min-width: 20px;
        min-height: 20px;
        width: 20px;
        height: 20px;
        margin: 5px;
    }

    .col-data .bold-text {
        font-weight: 500;
    }

    .col-data .view-partnerships {
        margin-left: 15px;
    }

    .col-data .not-selected-method {
        padding: 10px;
        margin: 5px;
        border-radius: 4px;
        background-color: #e1e1e1;
    }

    .cp-output-name {
        display: flex;
        flex-flow: row;
        font-size: 18px;
    }
    .cp-output-find {
        margin: 2px 4px;
        border-radius: 4px;
        background-color: var(--primary-color);
        color: white;
        height: 22px;
        cursor: pointer;

        iron-icon {
            margin-top: -5px;
        }
    }

    .categories-block {
        display: flex;
        padding: 10px 10px 10px 25px;
        align-items: center;

        .category-item {
            background-color: #f4efec;
            color: #6f6d6c;
            border-radius: 15px;
            font-size: 14px;
            font-weight: 500;
            padding: 5px 14px;
            margin: 0 5px;
            cursor: pointer;
        }

        .category-item.selected {
            background-color: var(--primary-color);
            color: white;
        }
    }

    .static-text {
        padding: 12px;
    }

    a.link {
        color: var(--primary-color);
        cursor: pointer;
    }

    .content-box {
        max-height: 600px;
        overflow-y: auto;
    }

    .text-inform {
        //padding: 10px 0;
        background-color: #eeeeee;
    }

    .recommend-methods {
        border-bottom: 1px solid #dbdbdb;
    }

    .partner-item {
        margin: 10px 12px 0;
    }

    .partner-item-title {
        width: 100%;
        //margin-left: 3px;
    }

    .partner-item-title,
    .partner-item-number {
        background-color: #eee;
        padding: 3px;
    }

    .methods-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .method-item {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding: 10px;

            .method-name {
                font-size: 12px;
                color: var(--dark-secondary-text-color);
                font-weight: 500;
            }
        }
    }

    .editable-row .hover-block iron-icon {
        padding-left: 12px;
    }

    etools-dialog .container {
        padding: 16px;
    }

    etools-dialog label {
        margin: 0 12px;
    }
}

paper-card {
    padding: 8px 0;
    display: block;
    margin-top: 25px;
    --paper-card_-_background-color: white;
    --paper-card_-_margin: 0 24px;
}
