:host {
    position: relative;
    display: block;
    padding: 0 25px 25px;

    .related-to-type {
        label {
            color: var(--secondary-text-color);
            font-size: 12px;
            padding: 0 12px;
        }
    }

    .files-column {
        color: var(--module-primary);
        cursor: pointer;
        font-weight: 500;
    }

    etools-file {
        padding: 14px 12px 0;
        box-sizing: border-box;
    }

    paper-radio-button {
        padding: 4px 12px;
    }

    .preparation-input-container {
        margin-top: 10px;
    }
}

paper-card {
    padding: 8px 0;
    display: block;
    margin-top: 25px;
    --paper-card_-_background-color: white;
    --paper-card_-_margin: 0 24px;
}
