:host {
  position: relative;
  display: block;
  padding: 0 25px 25px;

  .related-to-type {
    label {
      color: var(--secondary-text-color);
      font-size: 12px
    }
  }

  .files-column {
    color: var(--module-primary);
    cursor: pointer;
  }

  .filter-dropdown {
    max-width: 470px;
  }
}

paper-card {
  padding: 8px 0;
  display: block;
  margin-top: 25px;
  --paper-card_-_background-color: white;
  --paper-card_-_margin: 0 24px;
}
